* {
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 25px 0px 25px 0px;
}

#container {
    margin: 0 auto;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameTile {
    background-color: deepskyblue;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
}

.gameTile:hover {
    background-color: lightblue;
}